body{
    place-items:top;
    display:grid;
    
}
.slider{
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items:top; 
    overflow:hidden;
}
.slide-track{
    display:flex;
    width:calc(250px * 18); /*no of slides*ind width*/
     animation:scroll 40s linear infinite;
}
.slide-track:hover{
    animation-play-state:paused;
}
@keyframes scroll{
    0%{transform:translatex(0);}
    100%{transform:translatex(calc(-250px * 9));}
}
.slide{
    height: 200px;
    width:250px;
    display:flex;
    align-items:top;
    padding:15px;
    perspective:100px;    /*to make immg movez axis*/

}
img{
    width:100%;
    transition:transforrm  1s;
}
img:hover{
    transform:translatez(20px);
}
.slider::before,
slider::after{
  background: -o-linear-gradient(to right,rgba(255,255,255,1) 0%,rgba(255,255,255,0)100%);
  content: '';
  height: 100%;
  position: absolute;
  width:15%;
  z-index:2;

}
.slide::before{
    left:0;
    top:0;
}
.slide::after{
    right:0;
    top:0;
    transform:rotatez(180deg);
}
